module.exports = {
  apps : [{
    name: "{{ pm2_app_name }}",
    cwd: "{{ pm2_pool_dir }}/current",
    script    : 'node_modules/.bin/buildpack',
    args      : 'serve .',
    exec_interpreter : "node",
    exec_mode: "cluster",
    instances: 3,
    max_memory_restart: '1G',
    wait_ready: true,
    listen_timeout: 15000,
    kill_timeout : 10000,
    time: true,
    env: {
      HOST: "0.0.0.0",
      PORT: 5000,
      NODE_ENV: "production"
    }
  }]
}
